:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.row {
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: repeat(12, 30px);
  grid-gap: 2px;
  background-color: #333;
  border: 2px solid #444; */
}
.cell {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: 2px solid #444;
  border-radius: 7px;
}
.cell-0 {
  background-color: #ccc;
}
.cell-1 {
  background-color: blue;
}
.cell-2 {
  background-color: red;
}
.cell-3 {
  background-color: green;
}
.cell-4 {
  background-color: orange;
}
.cell-5 {
  background-color: purple;
}
.cell-6 {
  background-color: turquoise;
}
.cell-7 {
  background-color: yellow;
}
